.root{
    position: relative;
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    .Header{
        position: sticky;
        top: 0;
        width: 100%;
        height: 100px;
        box-sizing: border-box;
        background-color: white;
        box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),0 2px 4px -1px rgba(0, 0, 0, 0.06);
        padding: 20px 20px;
        display: flex;
        justify-content:space-between;
        align-items: center;
        z-index: 10;
        .Header-Left{
            width: auto;
            height: 100%;
            font-size: 24px;
            font-weight: 600;
            line-height: 60px;
            span{
                margin-left: 8px;
            }
        }
    }
    .Banner{
        position: absolute;
        top: 100px;
        bottom: 0;
        width: 100%;
        background-color: #E2E8F0;
        overflow: auto;
        box-sizing: border-box;
        padding: 10px 0 110px 0;
        .Banner-ChatBox{
            width: 900px;
            height: auto;
            background-color: rgb(255, 255, 255);
            margin: 0 auto;
            border-radius: 10px;
            box-sizing: border-box;
            padding: 20px 40px 20px 20px;
            .Message-Item{
                width: 100%;
                height: auto;
                .userQuestion{
                    width: auto;
                    margin-left: 40px;
                    white-space: pre-wrap;
                    margin-top: 0px;
                    margin-bottom: 0px;
                    padding: 20px 20px 20px 0;
                }
                .ResponseBox{
                    width: 100%;
                    height: auto;
                    display: flex;
                    justify-content: center;
                    align-items: flex-start;
                    .aiAvatar{
                        width: 30px;
                        height: 30px;
                    }
                    .aiResponse{
                        // flex: 1;
                        width:800px;
                        height: auto;
                        margin-left: 10px;
                        background-color: #DFE8F1;
                        border-radius: 10px;
                        box-sizing: border-box;
                        padding: 10px;
                        // letter-spacing: 1.5px;
                        pre{
                            margin-top: 0;
                            code{
                                // white-space: normal;
                                border-radius: 10px;
                                p{
                                    white-space:normal !important ;
                                }
                            }
                            code::-webkit-scrollbar {
                                width: 10px;
                                height: 10px;
                            }
                            code::-webkit-scrollbar-thumb {
                                border-radius: 10px;
                                -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
                                background: #EDEDED;
                            }
                            code::-webkit-scrollbar-track {
                                border-radius: 0px;
                                -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
                                background: #B5BECB;
                                display: none;
                            }
                        }
                    }
                }
                .welcomTouse{
                    padding: 0;
                }
            }
        }
    }
    .ChatBox{
        position: fixed;
        bottom: 30px;
        left: 50%;
        width: calc(60%);
        height: 60px;
        margin: 0px auto;
        background-color: #ffffff;
        border-radius: 30px;
        box-sizing: border-box;
        padding: 10px 10px 10px 20px;
        transform: translate(-50%, 0px);
        z-index: 10;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .Chat-Area{
            flex:  1;
            height: 100%;
            .el-input > .el-input__wrapper{
                padding: 0 10px;
                border-radius: 20px;
                input{
                    height: 40px;
                }
            } 
        }
        .Chat-Send{
            position: relative;
            width: 80px;
            height: 40px;
            margin-left: 20px;
            background-color: rgb(215, 215, 215);
            border-radius: 30px;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            transition: all .3s;
            .SendIcon{
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                svg{
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    color: #000000;
                    width: 30px;
                    height: 25px;
                    transform: translate(-50%, -50%);
                }
            }
            >img{
                width:30px !important;
                height: 30px !important;
            }
        }
        .Chat-Send:hover{
            box-shadow: 0 0 5px 1px rgb(0 0 0 / 60%);
        }
    }
    .ConfigPanel{
        position: fixed;
        left: 20px;
        // top: 200px;
        bottom: 110px;
        width: 200px;
        background-color: white;
        border-radius: 10px;
        box-sizing: border-box;
        padding: 10px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        .setApiKey.warning{
            position: relative;
            left: 10px;
            width: calc( 100% - 20px);
            height: 40px;
            border-radius: 10px;
            background-color: rgb(255, 103, 103);
            color: #760000;
            text-align: center;
            line-height: 40px;
            cursor: pointer;
        }
        .setApiKey.success{
            position: relative;
            left: 10px;
            width: calc( 100% - 20px);
            height: 40px;
            border-radius: 10px;
            background-color: rgb(99, 255, 123);
            color: #0e5300;
            text-align: center;
            line-height: 40px;
            cursor: pointer;
        }
        .clearApiKey{
            position: relative;
            left: 10px;
            margin-top: 10px;
            width: calc( 100% - 20px);
            height: 40px;
            border-radius: 10px;
            background-color: rgb(181, 181, 181);
            color: #464646;
            text-align: center;
            line-height: 40px;
            cursor: pointer;
        }
        .setApiKey:hover,.clearApiKey:hover{
            box-shadow:0 0px 6px 2px rgba(0, 0, 0, 0.1);
        }
    }
    .VersionUpdate{
        position: absolute;
        right: 30px;
        top: 150px;
        width: 260px;
        height: auto;
        box-sizing: border-box;
        padding: 10px 10px;
        background-color: white;
        border-radius: 10px;
    }
}